<header class="container header" *ngIf="hideAdminMenu">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" routerLink="">
            <img src="assets/img/logo.png" alt="Uniqdance">
            <span>Šokiai visiems</span>
        </a>
        <button (click)="toggleNav()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'show': navToggled}" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="">Pagrindinis<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (click)="dropdownToggle()" [routerLink]="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Apie mus
                    </a>
                    <div class="dropdown-menu" *ngIf="dropdownToggled" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="" [ngx-scroll-to]="'#apie'">Aprašymas</a>
                        <a class="dropdown-item" routerLink="" [ngx-scroll-to]="'#galerija'">Galerija</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="" [ngx-scroll-to]="'#paslaugos'">Paslaugos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="" [ngx-scroll-to]="'#tvarkarastis'">Tvarkaraštis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registracija">Registracija</a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/naujienos">Naujienos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="" [ngx-scroll-to]="'#kontaktai'">Kontaktai</a>
                </li>
            </ul>
        </div>
    </nav>
  </div>
</header>

<header class="header admin" *ngIf="(_authS.loggedIn && !hideAdminMenu)">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" routerLink="/admin/posts">
            <img src="assets/img/logo.png" alt="Uniqdance">
            <span>Šokiai visiems</span>
        </a>
        <button (click)="toggleNav()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'show': navToggled}" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/posts">Blogo įrašai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/registrations">Registracijos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="signOut()" routerLink="">Atsijungti</a>
                </li>
            </ul>
        </div>
    </nav>
  </div>
</header>
