<section class="registrations admin-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Reg. data</th>
              <th scope="col">Vardas</th>
              <th scope="col">Laikas</th>
              <th scope="col">Miestas</th>
              <th scope="col">Amžius</th>
              <th scope="col">Žinutė</th>
              <th scope="col">El. paštas</th>
              <th scope="col">Tel. nr.</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registration of (registrations | async); let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ registration.registrated_on | date:'yyyy/MM/dd' }}</td>
              <td>{{ registration.surname }} {{ registration.name }}</td>
              <td>{{ registration.time }}</td>
              <td>{{ registration.city }}</td>
              <td>{{ registration.age }}</td>
              <td>{{ registration.message }}</td>
              <td>{{ registration.email }}</td>
              <td>{{ registration.phone }}</td>
              <td><button class="btn btn-sm" (click)="deleteReg(registration.registrationID)">Trinti</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</section>
