<section class="sponsors">
    <h1><span>Rėmėjai</span></h1>
    <div class="container">
        <div class="row sponsors_images">
            <div class="col-sm">
                <img src="assets/img/sponsors/rfc.png" alt="">
            </div>
            <div class="col-sm">
                <img src="assets/img/sponsors/kristinaCheri.png" alt="">
            </div>
            <div class="col-sm">
                <img src="assets/img/sponsors/miesto-laboratorija.png" alt="">
            </div>
        </div>
    </div>
</section>
