<section class="news admin-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Blogo įrašai</h3>
        <div class="filters">
          <a [routerLink]="" [ngClass]="{'active': filterActived === 'published'}" (click)="getPostsByStatus('published')">Publikuoti</a> |
          <a [routerLink]="" [ngClass]="{'active': filterActived === 'draft'}" (click)="getPostsByStatus('draft')">Juodraščiai</a>
        </div>
      </div>
      <div class="col-sm-6 text-right">
        <a [routerLink]="['/admin/post']" class="btn btn-sm btn-primary">Naujas įrašas</a>
      </div>
    </div>
    <div class="row posts-list" *ngFor="let post of posts | async">
      <div class="col-md-12">
        <div class="post">
          <h5 class="post-title">{{post.title}}</h5>
          <p><a [routerLink]="['/admin/post', post.id]" role="button">Redaguoti</a></p>
          <p>{{post.text | slice:1:300}} ...</p>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="(posts| async)?.length === 0">
      <div class="col-md-12">
        <p>Įrašų nėra</p>
      </div>
    </div>
  </div>
</section>
