<section class="register-slide">
</section>

<section class="register-form">
    <div class="container">
        <h3 class="text-center">Registruokis pirmai pamokai nemokamai!</h3>
        <form id = "form1" #form1>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form_col_left">
                        <label for="name">
                            <input #inputName type="text" name="name" id="name" placeholder="Vardas">
                        </label>
                        <label for="surname">
                            <input #inputSurname type="text" name="surname" id="surname" placeholder="Pavardė">
                        </label>
                        <label for="city">
                            <input #inputCity type="text" name="city" id="city" placeholder="Miestas">
                        </label>
                        <label for="age">
                            <input #inputAge type="number" name="age" id="age" placeholder="Amžius">
                        </label>
                        <label for="phone">
                            <input #inputPhone type="text" name="phone" id="phone" placeholder="Telefono numeris">
                        </label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form_col_right">
                        <label for="time">
                            <input #inputTime type="text" name="time" id="time" placeholder="Užsiėmimo laikas">
                        </label>
                        <label for="email">
                            <input #inputEmail type="email" name="email" id="inputEmail" placeholder="El.Paštas">
                        </label>
                        <label for="message">
                            <textarea #inputMessage type="text" name="message" id="inputNumber" placeholder="Žinutė"></textarea>
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button (click)="getInputValues(form1)" type="button" class="btn btn-flamingo">SIŲSTI</button>
            </div>
        </form>
    </div>
</section>