<footer id="kontaktai" class="footer" #kontaktai>
    <div class="container">
        <div class="row">
            <div class="col-sm fb-icon">
                <a href="https://www.facebook.com/Uniq-Dance-688735231310347/" target="_blank"><img src="assets/img/fb.png" alt="Facebook ikonėlė"></a>
            </div>
            <div class="col-sm footer_text">
                <p>Rita Žogelė, </p>
                <p>Individualios veiklos vykdymo pažyma Nr. 673384, </p>
                <p>Ekspreso 4-oji g. 7, Mikašiūnų km., Pagirių sen. Vilniaus raj. </p>
                <p>A.s. LT447300010086866838 AB bankas "Swedbank", </p>
                <p>El. paštas rita.juskyte@gmail.com,</p>
                <p> Tel. +370 676 05 379</p>
            </div>
        </div>
        <a href="#" (click)="scrollToTop()" class="scroll-to-top">
          <img src="assets/img/arrow-top.svg" alt="arrow top">
        </a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<script src="assets/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/smooth-scroll.js"></script>
<script src="assets/js/script.js"></script>
