<section class="prices">
    <h1><span>Kainos</span></h1>
    <div class="container">
        <div class="row pricing-plans">
            <div class="col-sm">
              <div class="pricing-plan">
                <h3>1 mėn.</h3>
                <div>20€ 1k./sav.</div>
                <div>35€ 1k./sav.</div>
                <button type="button" [ngx-scroll-to]="'#registracija'" class="btn btn-flamingo">Registruotis</button>
              </div>
            </div>
            <div class="col-sm">
              <div class="pricing-plan">
                <h3>3 mėn.</h3>
                <div>55€ 1k./sav.</div>
                <div>95€ 1k./sav.</div>
                <button type="button" [ngx-scroll-to]="'#registracija'" class="btn btn-flamingo">Registruotis</button>
              </div>
            </div>
            <div class="col-sm">
              <div class="pricing-plan">
                <h3>6 mėn.</h3>
                <div>110€ 1k./sav.</div>
                <div>195€ 1k./sav.</div>
                <button type="button" [ngx-scroll-to]="'#registracija'" class="btn btn-flamingo">Registruotis</button>
              </div>
            </div>
        </div>
        <div class="row pricing-plan-single">
          <div class="col-lg">
            <div class="pricing-plan">
              <div>Viena pamoka 6€</div>
            </div>
          </div>
        </div>
    </div>
</section>
