<section class="services left-col-bg-gray" id="paslaugos">
    <div class="container">
        <div class="row">
            <div class="col-sm services_items">
                <a href="#">
                    <img src="assets\img\contribute-icon.png" alt="Contribute icon">
                    <span>Prisidėk</span>
                </a>
                <a href="#">
                    <img src="assets\img\dance-icon.png" alt="Dance icon">
                    <span>Šokiai</span>
                </a>
                <a href="#">
                    <img src="assets\img\agenda-icon.png" alt="agenda icon">
                    <span>Renginiai</span>
                </a>
            </div>
            <div class="col-sm">
                <div class="pl">
                    <h1><span>Paslaugos</span></h1>
                    <p>
                        PRISIDĖK prie „Uniq Dance“ – unikalaus šokių projekto, skirto specialių poreikių vaikams ir jaunimui.
                    </p>
                    <h3>Kaip gali prisidėti?</h3>
                    <p>
                        „Uniq Dance“ organizuoja individualias Zumba šokių pamokas ir žaidimuis darbo kolektyvui įvairių švenčių metu. Taip pat organizuojamos šokių pamokos ir žaidimai gimtadienių bei kitų švenčių metu, o 80 proc. už pamoką surinktų lėšų skiriama specialių poreikių
                        vaikų ir jaunimo neformalaus ugdymo projektui.
                    </p>
                    <h3>Kodėl verta išbandyti Zumba šokių ir žaidimų pamoką?</h3>
                    <p>
                        Šokių pamokos padeda lengvai atsipalaiduoti. Jau po kelių šokių dalyvių veiduose nedingsta šypsena. Zumba užsiemimo metu skamba linkma ir įtraukianti muzika, o šokių judesiai visiškai nesudėtingi – šokti galima iškart.
                    </p>
                    <h3>Kaip prisidėti?</h3>
                    <p>
                        Galite susisiekti el.paštu rita.juskyte@gmail.com arba paskambinti tel.nr. 8 676 05379 ir suderinsime visas renginio sąlygas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
