<section class="schedule" id="tvarkarastis">
    <h1><span>Tvarkaraštis</span></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="register-form">
                    <div>
                        <button class="btn btn-register vilnius">VILNIUS</button>
                        <button class="btn btn-register">ALYTUS</button>
                    </div>
                    <div>
                        <button class="btn btn-register from">nuo 7 metų</button>
                        <button class="btn btn-register">3 - 7 metų</button>
                    </div>
                    <div>
                        <button class="btn btn-register time">LAIKAS:</button>
                    </div>
                    <div>
                        <button class="btn btn-register description">
                            11:00 - 11:45 val. <br>
                            Šokiai vaikams nuo 7 m. <br>
                            studija "Judesys" Vilnius
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="schedule_datepicker">
                    <h5>2018</h5>
                    <div id="datepicker"></div>
                </div>
            </div>
        </div>
        <div class="schedule_register text-center">
            <a href="registracija.html#final-registration" class="btn btn-flamingo" role="button">Registruokis</a>
        </div>
    </div>
</section>