<div class="schedule">
	<h1><span>Tvarkaraštis</span></h1>
	<div class="container">
        <div class="block">
            <div class="block__left">
                <div class="register-form">
                    <div>
                        <button class="button1">VILNIUS</button>
                        <button class="button1">ALYTUS</button>
                    </div>
                    <div>
                        <button class="button1">nuo 7 metų</button>
                        <button class="button1">3 - 7 metų</button>
                    </div>
                    <div>
                        <button class="button2">LAIKAS:</button>
                    </div>
                    <div>
                        <button class="button3">
                            <p>11:00 - 11:45 val.</p>
                            <p>Šokiai vaikams nuo 7 m.</p>
                            <p>studija "Judesys" Vilnius</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="block__right">
                <div class="schedule_datepicker">
                    <h5>2018</h5>
                    <div id="datepicker"></div>
                </div>
            </div>
        </div>
        <div class="block-bottom">
            <a href="registracija.html#final-registration" class="btn btn-flamingo" role="button">Registruokis</a>
        </div>
    </div>
</div>