.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    margin: 20px 0;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
    }
  }

}
