<section class="news">
    <h1><span>Naujienos</span></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" *ngFor="let post of posts | async">
              <div class="post">
                <h3 class="post-title">{{ post.title }}</h3>
                <a routerLink="/naujienos/{{ post.slug }}"><img class="post-image" src="{{post.photoURL}}" alt=""></a>
                <a routerLink="/naujienos/{{ post.slug }}">Skaityti ></a>
              </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
