<section class="news">
    <h1><span>Naujienos</span></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" *ngFor="let post of (posts | async) | slice: - 3">
              <div class="post">
                <h3 class="post-title">{{ post.title }}</h3>
                <a href="#"><img class="post-image" src="{{post.photoURL}}" alt=""></a>
                <p>{{ post.text }} <a href="/naujienos/{{ post.slug }}">Skaityti ></a></p>
              </div>
            </div>
        </div>
    </div>
</section>
