<section class="first-lesson">
    <div class="container">
        <h3>Registruokis pirmai pamokai nemokamai</h3>
        <a routerLink="/registracija" class="btn btn-flamingo">Registruokis</a>
    </div>
</section>

<!-- Slider main container -->
<section class="gallery swiper-container" id="galerija">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="assets/photos/gallery/A1 (4).jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/photos/gallery/A1 (5).jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/photos/gallery/A1 (6).jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/photos/gallery/A1.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/photos/gallery/A2.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/photos/gallery/A3.jpg" alt="">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
</section>
