<section class="first-lesson">
    <div class="container">
        <h3>Registruokis pirmai pamokai nemokamai</h3>
        <a routerLink="/registracija" class="btn btn-flamingo">Registruokis</a>
    </div>
</section>

<!-- Slider main container -->
<section class="gallery swiper-container" id="galerija">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let picture of pictures">
            <img src="{{picture.photoURL}}" alt="">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
</section>
